.home-content {
    padding: 0 200px;

    .city-item {
        .city-name {
            display: inline-block;
            margin: 10px;

            span {
                font-size: 16px;
            }
        }

        .city-introduce {
            position: relative;
            display: flex;
            justify-content: space-around;
            align-items: center;

            .city-img {
                width: 680px;
                height: 383px;

                img {
                    width: inherit;
                    height: inherit;
                    border-radius: 5px;
                }
            }

            .city-description {
                margin-left: 100px;
                flex: 1;

                p {
                    text-indent: 24px;
                    letter-spacing: .1rem;
                }
            }
        }

        .city-play {
            h2 {
                display: block;
                margin: 50px auto;
                width: 130px;
            }
        }
    }
}