.footer {
    position: fixed;
    bottom: 0;
    height: 50px;
    background-color: #9694f1;
    width: 100vw;

    ul {
        display: flex;
        justify-content: space-around;

        li {}
    }
}